.container.flex

    section.main.flex.noblur

        textarea(autofocus spellcheck="false")

        .markdown-body.nodisplay

        .buttons.flex.noselect

            .button#edit
                img(src="/assets/svg/edit.svg").nodrag

            .button#save
                img(src="/assets/svg/save.svg").nodrag

    section.history.flex.nodisplay

        .header.flex

            h1 Revision History

            .noselect.close#closeHistory
                img(src="/assets/svg/close.svg").nodrag

        .list

    section.settings.flex.nodisplay

        .header.flex

            h1 Settings

            .noselect.close#closeSettings
                img(src="/assets/svg/close.svg").nodrag

        .body.noselect

            .item.flex(data-setting='saveHistory')

                .main.flex
                    label Save Revision History
                    p
                        | If disabled, saving of revision history will be paused.
                        br
                        | Saved revisions will still be viewable.

                .switch.flex
                    .box

            .item.flex(data-setting='enablePowerMode')

                .main.flex
                    label Enable POWER MODE
                    p When typing, display animated particles thrown out from the cursor

                .switch.flex
                    .box

            .item.flex(data-setting='PowerModeColor')

                .main.flex
                    label Colored POWER MODE
                    p Add colors to particles from POWER MODE (if enabled)

                .switch.flex
                    .box


            .item.flex(data-setting='PowerModeShake')

                .main.flex
                    label Shake on POWER MODE
                    p If POWER MODE is enabled, entire screen will "shake" when typing

                .switch.flex
                    .box


    section.bar.flex.noselect

        .button.flex#settings
            img(src="/assets/svg/settings.svg").nodrag
        p#time
        p#lastEdited