.container.flex

    section.main.flex.noblur

        textarea(autofocus spellcheck="false")

        .markdown-body.nodisplay

        .buttons.flex.noselect

            .button#edit
                img(src="/assets/svg/edit.svg").nodrag

            .button#save
                img(src="/assets/svg/save.svg").nodrag
    
    section.history.flex.nodisplay

        .header.flex

            h1 Revision History

            .noselect.close#closeHistory
                img(src="/assets/svg/close.svg").nodrag

        .list

    section.settings.flex.nodisplay

        .header.flex

            h1 Settings

            .noselect.close#closeSettings
                img(src="/assets/svg/close.svg").nodrag

    section.bar.flex.noselect

        .button.flex#settings
            img(src="/assets/svg/settings.svg").nodrag
        p#time
        p#lastEdited