.container.flex

    section.main.flex

        textarea(autofocus)

        .markdown-body.nodisplay

        .buttons.flex.noselect

            .button#edit
                img(src="/assets/svg/edit.svg").nodrag

            .button#save
                img(src="/assets/svg/save.svg").nodrag
    
    section.history.flex.nodisplay

        .header

            h1 Revision History

            .noselect#close
                img(src="/assets/svg/close.svg").nodrag

        .list

    section.bar.flex.noselect

        p#time
        p#lastEdited