.container.flex

    section.main.flex.noblur

        textarea(autofocus spellcheck="false")

        .markdown-body.nodisplay

        .buttons.flex.noselect

            .button#edit
                img(src="/assets/svg/edit.svg").nodrag

            .button#save
                img(src="/assets/svg/save.svg").nodrag

    section.history.flex.nodisplay

        .header.flex

            h1 Revision History

            .noselect.close#closeHistory
                img(src="/assets/svg/close.svg").nodrag

        .list

    section.settings.flex.nodisplay

        .header.flex

            h1 Settings

            .noselect.close#closeSettings
                img(src="/assets/svg/close.svg").nodrag

        .body.noselect

            .item.flex(data-setting='saveHistory')

                .main.flex
                    label Save Revision History
                    p
                        | If disabled, saving of revision history will be paused.
                        br
                        | Saved revisions will still be viewable.

                .switch.flex
                    .box

            .item.flex(data-setting='cursorLastPosition')

                .main.flex
                    label Save Cursor Position
                    p Start editing where you left off last time you saved the document. If disable, cursor is always positioned at the start.

                .switch.flex
                    .box

            .item.flex(data-setting='enablePowerMode')

                .main.flex
                    label Enable POWER MODE
                    p When typing, display animated particles thrown out from the cursor

                .switch.flex
                    .box

            .item.flex(data-setting='PowerModeColor')

                .main.flex
                    label Colored POWER MODE
                    p Add colors to particles from POWER MODE (if enabled)

                .switch.flex
                    .box


            .item.flex(data-setting='PowerModeShake')

                .main.flex
                    label Shake on POWER MODE
                    p If POWER MODE is enabled, entire screen will "shake" when typing

                .switch.flex
                    .box
    
    section.notes-add.flex.nodisplay
        .header.flex
            h1#notes-add-header Add Note
            .noselect.close#closeNotesAdd
                img(src="/assets/svg/close.svg").nodrag
        .body.noselect
            .item.flex(data-setting='note-name')
                .main.flex
                    label Enter Name
                .textfield.flex
                    input.note-add-input#note-add-name
            .item.flex(data-setting='note-submit')
                .button.flex.note-submit#note-submit
                    label.pointer Submit

    section.notes-edit.flex.nodisplay
        .header.flex
            h1#notes-edit-header Edit Note
            .noselect.close#closeNotesEdit
                img(src="/assets/svg/close.svg").nodrag
        .body.noselect
            .item.flex(data-setting='note-edit-name')
                .main.flex
                    label Enter Name
                .textfield.flex
                    input.note-add-input#note-edit-name
            .item.flex
                .button.flex.note-submit#note-name-submit
                    label.pointer Submit
                .button.flex.note-submit#note-delete
                    label.pointer Delete
   
    section.notelist.flex.nodisplay
        .item.flex(data-setting='default', id="notelist-default")
            .main.flex
                label Default
        .item.flex(data-setting='add',id="notelist-add-note")
            .main.flex
                label Add Note..
    
    section.bar.flex.noselect
        .button.flex#settings
            img(src="/assets/svg/settings.svg").nodrag
        .button.button-add.flex#settings-add
            img(src="/assets/svg/notes.svg").nodrag
        p.pointer#name
        p#time
        p#lastEdited