.container.flex

    section.bar.flex.noselect

        p#time
        p#lastEdited

    section.main.flex

        textarea(autofocus)

        .markdown-body.nodisplay

        .buttons.flex.noselect

            .button#edit
                img(src="/assets/svg/edit.svg").nodrag

            .button#save
                img(src="/assets/svg/save.svg").nodrag
    
    section.history.flex.nodisplay

        .button.noselect#close
            img(src="/assets/svg/close.svg").nodrag

        h1 Revision History

        .list