title New Tab

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="author" content="Mihir Chaturvedi (plibither8)")
meta(name="description" content="Markdown-styled 'New Tab' page")

link(rel="stylesheet" href="/assets/css/index.css")
link(rel="stylesheet" href="/assets/css/markdown.css")

script(defer src="/assets/js/showdown.js")
script(defer src="/assets/js/activate-power-mode.js")
script(defer src="/assets/js/timeago.js")
script(defer src="/assets/js/index.js")