title [PAGE NAME] //CHANGE TO TITLE

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
//- CHANGE TO CANONICAL URL:
meta(rel="canonical" href="")
meta(name="author" content="Mihir Chaturvedi (plibither8)")
//- CHANGE TO SITE DESCRIPTION:
meta(name="description" content="")
//- CHANGE TO KEYWORDS:
meta(name="keywords" content="")
//- CHANGE TO SITE THEME COLOR:
meta(name="theme-color" content="#")

meta(property="og:type" content="website")
//- CHANGE TO TITLE:
meta(property="og:title" content="")
//- CHANGE TO CANONICAL URL:
meta(property="og:url" content="")
meta(property="og:locale" content="en_IN")
//- CHANGE TO SITE MAIN IMAGE:
meta(property="og:image" content="")
//- CHANGE TO SITE DESCRIPTION:
meta(property="og:description" content="")

meta(name="twitter:card" content="website")
//- CHANGE TO TITLE:
meta(name="twitter:title" content="")
//- CHANGE TO CANONICAL URL:
meta(name="twitter:site" content="")
//- CHANGE TO SITE MAIN IMAGE:
meta(name="twitter:image" content="")
//- CHANGE TO SITE DESCRIPTION:
meta(name="twitter:description" content="")

//- CHANGE TO FAVICON META'S AND LINKS FROM FAVICON GENERATOR
link(rel="shortcut icon" href="/assets/img/icons/favicon.ico")

link(rel="stylesheet" href="/assets/css/index.css")
//- CHANGE TO SELECTED GOOGLE FONTS (ALEGREYA SANS IS SET BY DEFAULT)
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400")

script(defer src="/assets/js/scripts.js")