title New Tab

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="author" content="Mihir Chaturvedi (plibither8)")
meta(name="description" content="Markdown-styled 'New Tab' page")

link(rel="stylesheet" href="/assets/css/index.css")
//- CHANGE TO SELECTED GOOGLE FONTS (ALEGREYA SANS IS SET BY DEFAULT)
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400")

script(defer src="/assets/js/scripts.js")