@charset "utf-8"

@font-face
	font-family 'Fira Mono'
	src url(/assets/fonts/fira-mono.woff2) format('woff2'),
		url(/assets/fonts/fira-mono.woff) format('woff')


::selection
	background #fffffffe
	color black

html, body, :root
	width 100%
	height 100%
	background #000
	font-family 'Fira Mono'

@import "variables"
@import "universal"