@require "imports/main"

.container
    flex-direction column
    overflow hidden

section.bar
    height 40px
    width 100%
    background #000
    color #fff
    position fixed
    bottom 0
    font-size 16px
    border-top 1px solid white
    z-index 4

    #lastEdited
        position absolute
        right 0
        border-left 1px solid white    
        line-height 40px
        padding 0 10px
        cursor pointer

        &:hover::after
            content 'CLICK TO VIEW REVISION HISTORY'
            position absolute
            font-size 12px
            color #cccccc
            top -100%
            left -1px
            text-align center
            width 100%
            border-top 1px solid white
            border-left 1px solid white
            white-space nowrap
    
    .button
        padding 0
        height 100%
        width 40px
        position absolute
        left 0

section.main
    height 100%
    width 100%
    align-items flex-start
    margin-bottom 40px
    font-size 20px
    transition 0.1s all linear

    textarea, .markdown-body
        background inherit
        border none
        height 100%
        max-width 1000px
        width 95%
        padding 5vh
        color white
        line-height 1.4em
        outline none
        resize none
        overflow-y auto

        &::-webkit-scrollbar
            width 15px
            background #000

        &::-webkit-scrollbar-thumb
            background #000
            border 1px solid white
    
    textarea
        font-size 18px
        font-family 'Fira Mono'
        letter-spacing 0.5px

    &.blur
        filter blur(3px)
        user-select none
    &.noblur
        filter blur(0px)
        user-select default

.buttons
    flex-direction column
    margin 5vh 0 0 2vh

.button
    cursor pointer
    padding 10px
    font-family monospace
    
    img
        cursor pointer
        height 20px
        width auto

    &:hover
        outline 1px solid white


section.history, section.settings
    height 80vh
    max-width 1200px
    width 95%
    border 1px solid white
    position absolute
    background rgba(0,0,0,0.8)
    top 5vh
    color white
    flex-direction column
    justify-content flex-start

    .header
        width 100%
        padding 20px
        cursor move
        cursor -webkit-grab
        border-bottom 1px solid #333

        h1
            font-size 35px
            text-align center
            font-weight 100
            flex 1

        .close
            cursor pointer
            padding 10px 
            font-family monospace
        
            img
                cursor pointer
                height 20px
                width auto

            &:hover
                outline 1px solid white

    &.z-index-2
        z-index 2

    &.z-index-3
        z-index 3

section.history

    .list
        width 100%
        height 100%
        padding 30px
        overflow-y scroll

        &::-webkit-scrollbar
            width 15px
            background #000

        &::-webkit-scrollbar-thumb
            background #000
            border 1px solid white
            border-right none

    .item
        width 100%
        margin 40px 0 0 0

        textarea
            width 100%
            height 50vh
            background #1119
            border-radius 7px
            overflow-y scroll
            padding 20px
            resize none
            outline none 
            color white
            font-family 'Fira Mono'
            font-size 16px
            border none
            margin 0

            &::-webkit-scrollbar
                width 10px
                background #000

            &::-webkit-scrollbar-thumb
                background #000
                border 1px solid white

        .markdown-body
            padding 20px
            background #1119
            border-radius 7px
            max-height 50vh
            overflow-y scroll

            &::-webkit-scrollbar
                width 10px
                background #000

            &::-webkit-scrollbar-thumb
                background #000
                border 1px solid white

        p
            font-size 16px

            &.id
                color #bbb
                display inline
                font-size 20px
                font-weight bold

            &.date
                display inline
                padding-left 20px
                font-weight bold
                font-size 23px

        .label
            padding-bottom 20px
            justify-content space-between

section.settings

    .body
        height 100%
        width 100%
    
    .item
        padding 25px 40px
        border-bottom 1px solid #333
        cursor pointer

        .main
            justify-content space-between
            align-items flex-start
            flex-direction column
            flex 1

            label
                font-size 24px
                line-height 1

            p
                font-size 16px
                color #bbb
                margin-top 10px

        .switch
            height 30px
            width 30px
            border 2px solid white
            align-items center

            .box
                height 20px
                width 20px
                transition 0.2s all linear

        &.on
            .box
                background white

        &.off
            .box
                background none