@require "imports/main"

textarea
    background inherit
    border none
    height 90vh
    max-width 1000px
    width 95%
    margin 5vh 0 0 0
    padding 5vh
    color white
    font-family "Input Mono"
    font-size 20px
    line-height 1.2em
    outline none
    resize none

.text
    background inherit
    border none
    height 90vh
    max-width 1000px
    width 95%
    margin 5vh 0 0 0
    padding 5vh
    color white
    // font-family "Input Mono"
    font-size 20px
    line-height 1.2em
    outline none
    resize none